<meta charset="UTF-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="{{title}}">
<link rel="stylesheet" href="/css/foundation.min.css" />
<script src="/js/vendor/modernizr.js"></script>
